@using APTEKA_Software.Models.ViewModels
@model List<SaleViewModel>

@{
    ViewData["Title"] = "Списък с продажби";
}
@{
    Layout = "_Layout";
}

<h2>Списък с продажби</h2>

<table class="table">
    <thead>
        <tr>
            <th>Продавач</th>
            <th>Артикул</th>
            <th>Дата на продажба</th>
            <th>Продадено количество</th>
            <th>Общо количество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.UserName</td>
                <td>@sale.ItemName</td>
                <td>@sale.SaleDate</td>
                <td>@sale.QuantitySold</td>
                <td>@sale.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>
