@model UserDetailViewModel

<h2>Справка за потребител: @Model.UserName</h2>

<h3>Доставки</h3>
<table class="table">
    <thead>
        <tr>
            <th>Доставчик</th>
            <th>Артикул</th>
            <th>Дата на Доставка</th>
            <th>Количество доставено</th>
            <th>Сума на доставката</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model.Deliveries)
        {
            <tr>
                <td>@delivery.UserName</td>
                <td>@delivery.ItemName</td>
                <td>@delivery.DeliveryDate.ToString("dd/MM/yyyy")</td>
                <td>@delivery.QuantityDelivered</td>
                <td>@delivery.DeliverySum</td>
            </tr>
        }
    </tbody>
</table>

<h3>Продажби</h3>
<table class="table">
    <thead>
        <tr>
            <th>Продавач</th>
            <th>Артикул</th>
            <th>Дата на продажба</th>
            <th>Продадено количество</th>
            <th>Сума на продажбата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model.Sales)
        {
            <tr>
                <td>@sale.UserName</td>
                <td>@sale.ItemName</td>
                <td>@sale.SaleDate</td>
                <td>@sale.QuantitySold</td>
                <td>@sale.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>
