@{
    this.ViewData["Title"] = "Details";
}

@model Beer

<h2>@this.Model.Name</h2>

<div class="p-2">Alc%: @this.Model.Abv</div>
<div class="p-2">Style: @this.Model.Style.Name</div>
<div class="p-2">Created by: @this.Model.CreatedBy.Username</div>

<h4>Ratings</h4>

@if (this.Model.Ratings.Count == 0)
{
    <div class="p-2">
        <p class="small text-muted font-italic">No ratings</p>
    </div>
}
else
{
    <ul>

        @foreach (var rating in this.Model.Ratings)
        {
            <li class="margin12">@rating.User.Username rated with @rating.Value</li>
        }

    </ul>
}
<br />
<a asp-controller="Beers" asp-action="Index" class="btn btn-outline-secondary">Back</a>