@using AspNetCoreDemo.Models
@model Beer

<h2>@this.Model.Name</h2>

<p class="margin12">Alc%: @this.Model.Abv</p>
<p class="margin12">Style: @this.Model.Style.Name</p>
<p class="margin12">Created by: @this.Model.CreatedBy.Username</p>

<h4>Ratings</h4>

<ul>

	@{
		foreach (var rating in this.Model.Ratings)
		{
			<li class="margin12">@rating.User.Username rated with @rating.Value</li>
		}
	}

</ul>

<a href="/Beers/Index" class="nav">Go Back</a>