@inject AuthManager authManger;

@model RegisterViewModel

<br />


<div>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h3 class="card-title mt-3 btn-dark text-center">@this.ViewData["Title"]</h3>
        @if (this.ViewData["Title"].ToString() == "Create account")
        {
            <p class="text-center" style="color: black;">Get started with your free account</p>
        }

        <br />
        <form asp-controller="Users" asp-action="@this.ViewData["Action"]" method="post">
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="Firstname" type="text">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div> <!-- form-group// -->
            <div class="form-group ">
                <input asp-for="LastName" class="form-control" placeholder="Lastname" type="text">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div> <!-- form-group// -->
            <div class="form-group " style="display: @this.ViewData["UserFormVisibility"]">
                <input asp-for="Username" class="form-control" placeholder="Username" type="text">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <!-- form-group// -->
            <div class="form-group ">
                <input asp-for="Email" class="form-control" placeholder="Email address" type="email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> <!-- form-group// -->
            @if (Model.IsAdmin)
            {
                <div class="form-group ">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number" type="text">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div> <!-- form-group// -->
            }
            <div class="form-group " style="display: @this.ViewData["UserFormVisibility"]">
                <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div> <!-- form-group// -->
            <div class="form-group" style="display: @this.ViewData["UserFormVisibility"]">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Repeat password" type="password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block">@this.ViewData["SubmitButton"]</button>
            </div> <!-- form-group// -->
            @if (this.ViewData["Title"].ToString() == "Register")
            {
                <p class="text-center">Have an account? <a asp-controller="Users" asp-action="Login">Sign in</a> </p>
                <p class="btn btn-outline-secondary btn-block"><a asp-controller="Users" asp-action="Login">Back</a> </p>
            }
            else
            {
                <a asp-controller="Users" asp-action="Login" class="btn btn-outline-secondary btn-dark btn-block">Back</a>
            }
        </form>
    </article>
</div>
