@inject AuthManager authManager;

@model Post
<h2 class="text-black fw-bold">@this.Model.Title</h2>

<br />

<p class="text-end">
    <a asp-controller="Posts" asp-action="AddTag" asp-route-id="@this.Model.Id" class="btn btn-dark ">Add tag</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Content</th>
                <th class=" align-middle text-center">Likes</th>
                <th class=" align-middle text-center">Created by</th>
                <th class="w-14 align-middle text-center">Date created</th>
                <th class=" align-middle text-center">Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-7 ">@this.Model.Content</td>
                <td class="align-middle text-center">@this.Model.Likes.Where(l => l.IsDeleted == false).Count()</td>
                <td class="align-middle text-center">@this.Model.User.Username</td>
                <td class="align-middle text-center">@this.Model.DateCreated</td>
                <td class="">
                    @if (this.Model.Tags.Any())
                    {
                        <span>@string.Join("; ", this.Model.Tags.Select(tag => tag.Value))</span>
                    }
                </td>

            </tr>
        </tbody>
    </table>
</div>

<br />
<h4 class="text-black fw-bold">Comments</h4>
<p>
    <a asp-controller="Comments" asp-action="Create" asp-route-id="@this.Model.Id" class="btn btn-dark">Add comment</a>
</p>
@if (this.Model.Comments.Count == 0)
{
    <div class="p-2">
        <p class="small text-muted font-italic">No Comments</p>
    </div>
}
else
{

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th class=" align-middle text-center">Likes</th>
                    <th class=" align-middle text-center">Created by</th>
                    <th class=" align-middle text-center">Date created</th>
                    @if (this.authManager.CurrentUser != null)
                    {
                        <th class="w-14 align-middle text-center">Actions</th>
                    }
                </tr>
            </thead>
            @foreach (var comment in this.Model.Comments)
            {
                @if (comment.IsDeleted == false)
                {
                    <tbody>
                        <tr>
                            <td>@comment.Content</td>
                            <td class="align-middle text-center">
                                @comment.Likes.Where(l => l.IsDeleted == false).Count()
                                <a asp-controller="Comments" asp-action="Like" asp-route-id="@comment.Id" class="btn btn-info" style="background-color: darkseagreen;">Like</a>

                            </td>
                            <td class="align-middle text-center">@comment.User.Username</td>
                            <td class="align-middle text-center">@comment.DateCreated</td>
                            @if (this.authManager.CurrentUser != null)
                            {
                                <td class="align-middle text-center">
                                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning">Edit</a>
                                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Delete</a>
                                </td>
                            }

                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>


}
<br />
<a asp-controller="Posts" asp-action="Index" class="btn btn-outline-secondary">Back</a>