@{
    this.ViewData["Title"] = "Beers";
}

@model IEnumerable<Beer>

<h2>Beers</h2>

<p>
    <a asp-controller="Beers" asp-action="Create" class="nav">Create a new beer</a>
</p>

@if (this.Model.Count() == 0)
{
    <p>
        <i>No beers 😔</i>
    </p>
}
else
{
    <div class="table">
        <div class="header">
            <div class="header-cell">Name</div>
            <div class="header-cell">% ABV</div>
            <div class="header-cell">Style</div>
            <div class="header-cell">Actions</div>
        </div>

        @foreach (var beer in this.Model)
        {
            <div class="row">
                <div class="cell">@beer.Name</div>
                <div class="cell">@beer.Abv</div>
                <div class="cell">@beer.Style.Name</div>
                <div class="cell">
                    <a asp-controller="Beers" asp-action="Details" asp-route-id="@beer.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="Beers" asp-action="Edit" asp-route-id="@beer.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Beers" asp-action="Delete" asp-route-id="@beer.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
}
